.main-section{

margin-left: 15px;
width: 722px;
height: 697px;
background: #EFD714;

}
.Header-section{
width: 722px;
height: 60px;
background: #000000;

}

h2{
    color: white;
    font-weight: 550;
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
}
mat-label{
    font-size: 18px;
    font-weight: 500;
   

 }


.formfields{


width: 370px;
height: 297px;

margin-left: 150px;

}


.btn{

    margin-top: 7cm;
    margin-right: 20px;
    
}
button{
    width: 130px;
    background-color: #EE5600;
    height: 38px;
    border-radius: 15px;
    font-size: 22px;
    font-weight: 600;
    border: none;
    

}
button:hover{
    background-color: aliceblue;
}