
.row1 {
  background-image: url("../../../../assets/OfferImages/loyality1.jpg");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 300px;
}
.card {
  box-shadow: 0 0px 0px 0 rgb(255, 255, 255);
  transition: 0.3s;
  text-align: center;
  margin: auto;
}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 1050px;
  height: 580px;



  /* height: 600px; */
}

.card1Main {
  display: flex;
  text-align: center;
  width: 1000px;
}

.card1 h1 {
  text-align: center;
  /* text-shadow: 2px 2px #fefefe; */
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(5, 5, 5);
  filter: contrast(100%);
}

.card1 img {
  width: 400px;
  height: 380px;
  flex: 3;
  padding: 0 100px 0 100px;
}

.cardInfo {
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  flex: 5;
}

.cardInfo .subInfo {
  padding: 8px;
}

.cardInfo span {
  color: rgb(0, 0, 0);
  font-size:20px;
}
.cardInfo label{
  font-size:20px;
  font-weight: bold;
}

.cardInfo #discount {
  color: red;
  font-weight: bold;
  font-size:x-large;
}