<div class="main-section">
    <img src="'../../../assets//bank.png">
    <h2>VISA</h2>
    <h2 style="font-size: 24px;color: black;font-weight:500;margin-top: 100px;">Payment Authentication</h2>
     <h3>To ensure the security of your payment, 
        we will send a verification code to your
        email. Please check your inbox and enter 
        the code below.</h3> 

        <hr>
        <mat-label style="margin-left: 90px;font-size: 20px;font-weight: 500;">Code</mat-label>
        <mat-form-field appearance="outline" style="margin-left: 23px;">
            <input formControlName="code" matInput type="text" > 
        </mat-form-field>

        <div style="display: block; margin-bottom: 30px;">
            <button mat-raised-button style="background-color: #F8C806;">Confirm</button>
          </div>
      
          <div style="display: block;">
            <button mat-raised-button style="background-color: #000000; color: aliceblue;margin-bottom: 30px;">Resend Code</button>
          </div>
          
          <div style="display: block;">
            <button mat-raised-button style="background-color: #000000; color: aliceblue;margin-bottom: 30px;">Cancel</button>
          </div>


</div>  