<mat-toolbar class="mat-elevation-z6">
    <a mat-button class="btn-logo" routerLink = "Home">
        <span>
            <mat-icon>home</mat-icon> Pinnapola Constructions
        </span>
    </a>
    <div class="spacer"></div>

    <a mat-button routerLink = "VehicleRental">Vehicles</a>
    <a mat-button routerLink = "MachineryRental">Machines</a>
    <a mat-button routerLink = "FeedbackAndSupport">Support</a>
    <!-- <a mat-button routerLink = "Profile">Profile</a> -->

    <img src="'../../../assets//profile.png" alt="Profile" width="40" height="40" routerLink = "Profile">

</mat-toolbar>
